.app {
  text-align: center;
  background-color: #5ecbfa;
  padding: 10vh 35vw;
  height: 80vh;
}

.input-task {
  margin: 10px;
  border-radius: 3px;
  height: 35px;
  width: 65%;
  border: 0px;
}

.add-btn {
  margin: 10px;
  border-radius: 3px;
  height: 35px;
  width: 20%;
  border: 0px;
  background-color: #9e8eec;
  color: #fff;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

.task-list {
  margin: 10px 0px;
  height: 30px;
  padding-top: 10px;
  background-color: #ade4fb;
}

.task-list:hover {
  background-color: #ffc0ca;
  cursor: pointer;
}